@{

    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w naszej klinice Denta Smile ;)</h1>
</div>

<div>
    <h2>Dane kliniki</h2>
    <p>Nazwa: Klinika Dentystyczna Ząbek</p>
    <p>Adres: Os. Wichrowe Wzgórze 241/121, 60-281 Poznań</p>
    <p>Numer telefonu: +48 61 251 322</p>
</div>
